@{
  Layout = "_Layout";
}

@model SweetTreats.Models.Flavor

<h3>Are you sure you want to delete @Model.Description from your flavors?</h3>
<br/>
@using(Html.BeginForm())
{
  <input type="submit" value="Delete">
}
<br/>
<h3>@Html.ActionLink($"Return to {Model.Description}'s details page", "Details", new { id = Model.FlavorId})</h3>