
@{
  Layout = "_Layout";
}

<h1>Welcome to the to the Sweet Treats store!</h1>

<h2>Please sign in or Create a new Account to customize your own treats!</h2>
<p>@Html.ActionLink("Create a New Sweet Treats account", "Register", "Account")
<p>@Html.ActionLink("Create a New Sweet Treats account", "Login", "Account")



