
@{
  Layout = "_Layout";
}

<h1>Welcome to the to the Sweet Treats store!</h1>

<p>@Html.ActionLink("See all categories", "Index", "Treats")</p>
<p>@Html.ActionLink("See all items", "Index", "Flavors")</p> 
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>