@{
  Layout = "_Layout";
}

@using System.Security.Claims

@if(User.Identity.IsAuthenticated)
{
  <h3>Welcome to the Sweet Treats shopp @User.Identity.Name! You are now signed in. You have access to create your own treats!</h3>
  <br/>
  @using(Html.BeginForm("Treats", "Treats"))
  {
    <input type="submit" value="Log out">
  }
}
else
{
  <h4>@Html.ActionLink("Register", "Register") | @Html.ActionLink("Log in", "Login")</h4>
}



