@{
  Layout = "_Layout";
}

@using System.Security.Claims

@if(User.Identity.IsAuthenticated)
{
  <h3>Welcome to the Sweet Treats shop @User.Identity.Name! You are now signed in. You have access to create your own treats!</h3>
  <br/>
  @using(Html.BeginForm("LogOut", "Account"))
  {
    <input type="submit" value="Log out">
  }
  
}
else
{
  <p>Sign back in</p>
}


<h4>@Html.ActionLink("Home" , "Index", "Home" ) || @Html.ActionLink("Login Now!" , "Login", "Account" )</h4>



