@{
  Layout = "_Layout";
}

@using System.Security.Claims

@if(User.Identity.IsAuthenticated)
{
  <h3>Welcome to the Sweet Treats shopp @User.Identity.Name! You are now signed in. You have access to create your own treats!</h3>
  <br/>
  
}
else
{
  <p>You Have Signed out!</p>
}

<h4>@Html.ActionLink("Treats and Flavors List" , "Index", "Home" )</h4>



